.section-3 {
  background-color: #000!important;
  height: 35rem;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/img/fundo2.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section-3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
}

.info-section-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.title-section-3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.title1-section-3, .title2-section-3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 1000;
}

.title1-section-3 {
  margin-bottom: -.6rem;
}

.title2-section-3 {
  margin-bottom: 2.5rem;
}

.info-section-3 > p {
  color: #fff;
  font-size: 1.2rem;
}

.info1-section-3 {
  margin-bottom: .5rem;
}

.btn-section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 18rem;
  height: 2.1rem;
  margin-top: 3rem;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding-top: .2rem;
  transition: .6s;
}

.btn-section-3 > h3 {
  font-size: .75rem;
  font-weight: 600;
  margin: -.1rem 1.7rem 0 1.8rem;
  color: #fff;
  transition: .6s;
}

.arrow-right-section-3 {
  font-size: 2.3rem;
  color: #fff;
  transition: .6s;
  margin-bottom: .3rem;
}

.modal-btn-section-3 {
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
  margin: -.1rem .5rem 0 0;
  transition: .6s;
}

.content-btn-section-3:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #000!important;
}

.content-btn-section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 18rem;
  height: 2.1rem;
  margin-top: 3rem;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding-top: .2rem;
  transition: .6s;
  background-color: transparent;
  cursor: pointer;
  transition: .6s;
}

.content-btn-section-3:focus {
  outline: none;
  box-shadow: none;
}

.content-btn-section-3:hover .arrow-right-section-3 {
  color: #000!important;
}

.content-btn-section-3:hover .modal-btn-section-3 {
  color: #000!important;
}

.info-right-section-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1920px) {

  .section-3 {
    height: 50rem;
  }

}

@media (max-width: 1350px) {

  .big-logo-section-3 {
    display: none;
  }

}

@media (max-width: 1350px) {

  .section-3 {
    background-image: url(../assets/img/fundo2mobile.png);
    background-position: left;
  }

  .content-section-3 {
    flex-direction: column;
  }

  .btn-place-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
  }

  .title-section-3, .info-section-3 {
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    margin-top: -3rem;
  }

  .info2-section-3 {
    margin-top: .5rem;
  }

  .right-section-3 {
    margin: 0;
  }

}
